.cart {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: rgba(169, 169, 169, 0.63);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.cart-content {
  background-color: white;
  min-height: 150px;
  flex-grow: 1;
  max-width: 600px;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.cart-total-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px;
}

.cart-content-footer {
  align-self: flex-end;
}

.cart-content-button-close {
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
  border: 1px solid brown;
  border-radius: 10px;
  background-color: white;
  color: brown;
  padding: 5px 10px;
  align-self: flex-end;
  cursor: pointer;
}
.cart-content-button-order {
  display: inline-block;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: brown;
  color: white;
  padding: 5px 10px;
  align-self: flex-end;
  cursor: pointer;
}
