.cart {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: rgba(169, 169, 169, 0.63);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.cart-content {
  background-color: white;
  height: 300px;
  flex-grow: 1;
  max-width: 600px;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.cart-content button {
  border: none;
  border-radius: 10px;
  background-color: brown;
  color: white;
  padding: 5px;
  align-self: flex-end;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-description-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-item-description-price {
  margin-right: 30px;
  color: chocolate;
  font-weight: bold;
  font-size: 18px;
}

.cart-item-description-quantity {
  border: 1px solid darkgray;
  padding: 4px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.cart-item-controls {
  display: flex;
  gap: 5px;
}

.cart-item-controls button {
  background-color: white;
  color: brown;
  border: 1px solid brown;
  width: 40px;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}

.cart-item-controls button:hover {
  background-color: brown;
  color: white;
}
