.cart {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: rgba(169, 169, 169, 0.63);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-content {
  background-color: white;
  height: 300px;
  flex-grow: 1;
  max-width: 800px;
  margin: 30px;
  border-radius: 15px;
}
